<!DOCTYPE html>
<html>
<head>
  <link href="/css/attack.css" rel="stylesheet" type="text/css">
  <title>Attack</title>
</head>
<body>

  <h1><%= @player_1 %> attacked <%= @player_2 %> for <%= @damage %> damage!</h1>
  <h1>player 1 <%= @health1 %> player 2 <%= @health2 %></h1>

</body>
</html>
