<!DOCTYPE html>
<html>
<head>
  <link href="/css/play.css" rel="stylesheet" type="text/css">
  <title>Attack!</title>
</head>
<body>

  <h2><%=@player_1.name%>'s turn</h2>
  <h1><%=@player_1.name%> vs <%=@player_2.name%></h1>

  <form action="/p1_check" method='post'>
    <input type="submit" value="Attack!">
  </form>

  <div id=player1_hitpoints>
    <h2><%=@player_1.name%>: <%=@player_1.health%>HP</h2>
  </div>

  <div id=player2_hitpoints>
    <h2><%=@player_2.name%>: <%=@player_2.health%>HP</h2>
  </div>

</body>
</html>
